/build
/.vscode
python/__pycache__/Espace.cpython-313.pyc
python/main.py
python/__pycache__/Communication.cpython-313.pyc
python/__pycache__/Communication.cpython-311.pyc
.gitignore
python/__pycache__/Espace.cpython-311.pyc
version compillé/assets/python/__pycache__
